<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fonasa Express</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="beautiful_table.css">

    <script src="js/index.js"></script>
</head>
<body>
    <h1>Fonasa</h1>
    <div>
        <a href="/ingresar-paciente">Ingresar Paciente</a>
        <a href="/listar-paciente-mayor-riesgo">Listar pacientes de mayor riesgo.</a>
        <button name="liberar_consultas" id="liberar_consultas">Liberar Consultas</button>
        <button name="listar_pacientes_fumadores_urgentes" id="listar_pacientes_fumadores_urgentes">Listar pacientes fumadores urgentes.</button>
        <button name="consulta_mas_pacientes_atendidos" id="consulta_mas_pacientes_atendidos">Consulta con más pacientes atendidos.</button>
        <button name="paciente_mas_anciano" id="paciente_mas_anciano">Paciente más anciano en espera.</button>
        <div id="resultado"></div>
    </div>
</body>
</html>