<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoreo de Cambios en MongoDB</title>
</head>
<body>
    <h2>Eventos de Cambio en MongoDB</h2>
    <ul id="events"></ul>
        <!--No implementado-->

    <script>
    </script>
</body>
</html>